.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.validation{
  margin-left: 1px;
}
.signIn, .signUp{
  font-size: 10px;
  margin-right: 2px;
  background: #0003a1;
}
#navbar{
  background: #0024a4
}
.firstImage{
  height: 400px;
  width: 100%;
}
.slider .slides li{
  opacity: 1
}
div.slider{
  height: 440px;
  touch-action: pan-y;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul.slides{
  height: 400px;
}
.collapsibleConcert{
  width: 60%;
  margin: auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
