/*************** Color CSS ****************/
body{
  height: 100%;
  /* background: url('/Images/backpacker2.jpg'); */

  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.15), 
    rgba(0, 0, 0, 0.25)
  ),
  url('/Images/backpacker2.jpg');


  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background-color: #c14431;
}

input:not([type]), input[type=text], 
input[type=password], input[type=email], 
input[type=url], input[type=time], input[type=date], 
input[type=datetime], input[type=datetime-local], 
input[type=tel], input[type=number], input[type=search], 
textarea.materialize-textarea {
  color:#f3cb6f ;
  font-size: 20px !important;
}
.alignCenter{
  margin-top:20px;
  margin-left: 140px;
  
}

.btn, .btn-large {
  text-decoration: none;
  color: #000;
  background-color: #f3cb6f;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}
/* Grey Color Buttons */

.signInButton, .signUpButton, .newUserButton, .searchConcertButton, .offerRideButton, .needRideButton{
  background-color: #57575b;
  width: 50%;
  margin-left: 25%;
}
/*************** Color CSS ****************/




html{
    height:100%;
}



#title{
    text-decoration-color: #6a4372;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
}

.loginRow{
    margin-top: 20%;
    margin-left: 10%;
}


.signInForm{
    padding-top: 70%;
    margin-top: 0%;
}

.parallaxTextBox{
    background-color: #f3cb6f;
    border-bottom: 0;

}
.parallaxText{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}
.aboutUsLink{
    margin-left: 40%;
    padding-top: 100%;
    color: #c14431;
}

.firstImage{
  height: 400px;
  width: 100%;
}
.slider .slides li{
  opacity: 1
}

.collapsibleConcert{
  width: 95%;
  margin: auto;
}

.needRide{
  margin-left: 5%
}

/* #collapsibleHeader{
  font-size: 20px;
  color: #826767;
} */

.inputSearchField{
  margin-top: 50%;
  margin-left: 15%;
}

#concertCollapsible{
  font-size: 20px;
  background-color: white;
}

#modalButton{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: #57575b;
}
.offerRideRow{
  width:80%;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 20px;
}

.header{
  position: relative;
  width: 100%;
  height: 8%;
  background-color: #c14431;
}

.offerRideLabels{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration-color: white;
}

#title{
  margin-left: 25%;
  font-size: 40px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
